data
db
certs
/proxy/html
htpasswd
vhost.d
.DS_Store
src
/laravel/mysql
/laravel/custom.conf
/laravel/html
/laravel/mailpit
/mailpit/mailpit
.env
logs
extraConfigs
trainingData
customFiles
caddy_*
!traefik/data
node_modules