version: '3.5'

services:
  nginx:
    image: nginx
    container_name: nginx
    ports:
      - 8081:80
    volumes:
      - type: bind
        source: ./html
        target: /usr/share/nginx/html
    